.popover-content {
    max-width: none;
    max-height: 700px;
    overflow-y: auto;
}

.golf {
    background-color: #749F34;
    border: none;
}
.transportation {
    background-color: #232525;
    border: none;
}
.facilities {
    background-color: #074768;
    border: none;
}
.stormwater {
    background-color: #F78F03;
    border: none;
}
.wastewater {
    background-color: #B3C935;
    border: none;
}
.water {
    background-color: #056EB7;
    border: none;
}

.popover {
    max-width: none;
}

.bottommodal {
    position:absolute;
    top: 300px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

#inner-app-content {
    padding: 0;
}

#app-content, #inner-app-content, #map_view_outer_container {
    height: 100%;
}

.modal-body {
    overflow-x: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:100%;

}
td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  backgroundColor:white;
}
tr:nth-child(even) {
  backgroundColor:black;

}
.edit-fields {
  border:None;
  backgroundColor:transparent;
}

#map-popup-modal {
  width:90%;
  max-width: 100%;
}
.btn {
  margin:10px;
}